@charset"utf-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6d
}

a {
  text-decoration: none;
  color:#38b48b;
}

header,nav,footer{
  font-family: "Arial" , Courier, "Helvetica",sans-serif;
}

header {
  
  width:100%;
  margin: 0 auto;
  text-align:  center;
  background-color:darkgreen;
}

header .heading{
  font-size: 32px;
}

header .heading a {
  color:#fff;
}

.nav-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  color:#fff;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color:#fff;
}

main{
  background-color:#ecfcdf;
  padding:10px 40px 40px 40px;
  height:400px;
}



.main-info{
  width:100%;
  height: 300px;
  display: flex;
}

.main-heading{
  text-align: center; 
  padding:0 0 10px 0;
}


.main-label-box{
  width:100%;
  height:300px;
  background-color:#ecfcdf;;
  display:flex;
  
}

.main-text-box{
  width:20%;
  height: 300px;
  background-color:#ecfcdf;
  padding:0 10px 0 10px;
  border-radius: 10px 0 0 10px;

}

.main-image{
  height: 230px;
  width:30%;
  border-radius: 10px 10px 10px 10px;
  padding:0 10px 0 0;
}

.main-text{
  font-weight: bold;
  width:100px;
  color:#6c6b6d
}

.main-text-job{ 
  font-weight: bold;
  padding:70px 0 47px  0;
}

.main-text-sub{
  width:100%;
  height:300px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;

}
.main-list-sub{
  list-style: none;
}

.social{
  padding:0 20px 20px 0;
}





footer{
   width:100%;
   height:100px;
   text-align: center;
   line-height: 120px;
   background-color:darkgreen;
}

.footer-text{
  color: #fff;
} 

@media screen and (max-width:768px){
    .nav list {
      width:100%;
    }

    main{
      display:block
    }

    .main-image{
      width:100%;
    }



  }   


